.u-block-632e-2 {
    position: absolute;
    bottom: 10px
}

.u-block-632e-3 {
    position: absolute;
    left: calc(((100% - 1140px) / 2) + 510px);
    width: 50px;
    height: 50px;
    top: auto;
    right: auto;
    bottom: 45px
}

.u-block-632e-4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: auto;
    top: auto;
    right: calc(((100% - 1140px) / 2) + 510px);
    bottom: 45px
}

@media (max-width: 1199px) {
    .u-block-632e-3 {
        left: calc(((100% - 940px) / 2) + 410px)
    }

    .u-block-632e-4 {
        right: calc(((100% - 940px) / 2) + 410px)
    }
}

@media (max-width: 991px) {
    .u-block-632e-3 {
        left: calc(((100% - 720px) / 2) + 300px)
    }

    .u-block-632e-4 {
        right: calc(((100% - 720px) / 2) + 300px)
    }
}

@media (max-width: 767px) {
    .u-block-632e-3 {
        left: calc(((100% - 540px) / 2) + 210px)
    }

    .u-block-632e-4 {
        right: calc(((100% - 540px) / 2) + 210px)
    }
}

@media (max-width: 575px) {
    .u-block-632e-3 {
        left: calc(((100% - 340px) / 2) + 110px)
    }

    .u-block-632e-4 {
        right: calc(((100% - 340px) / 2) + 110px)
    }
}

.u-section-1-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/2075690.png")
}

.u-section-1-1 .u-sheet-1 {
    min-height: 800px
}

.u-section-1-1 .u-text-1 {
    animation-duration: 1000ms;
    font-weight: bold;
    font-size: 3.9375rem;
    width: 760px;
    margin: 244px 190px 0
}

.u-section-1-1 .u-text-2 {
    animation-duration: 1000ms;
    font-size: 1.5625rem;
    margin: 18px 357px 0
}

.u-section-1-1 .u-group-1 {
    width: 510px;
    min-height: 60px;
    margin: 8px auto 60px 315px
}

.u-section-1-1 .u-container-layout-1 {
    padding: 8px 30px 17px
}

.u-section-1-1 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin: 0 auto 0 7px
}

.u-section-1-1 .u-text-3 {
    animation-duration: 1000ms;
    margin: -31px auto 0
}

@media (max-width: 1199px) {
    .u-section-1-1 {
        background-position: 50% 50%;
        min-height: 660px
    }

    .u-section-1-1 .u-sheet-1 {
        min-height: 660px
    }

    .u-section-1-1 .u-text-1 {
        margin-left: 90px;
        margin-right: 90px
    }

    .u-section-1-1 .u-text-2 {
        margin-right: 294px;
        margin-left: 294px
    }
}

@media (max-width: 991px) {
    .u-section-1-1 {
        min-height: 196px
    }

    .u-section-1-1 .u-sheet-1 {
        min-height: 350px
    }

    .u-section-1-1 .u-text-1 {
        width: 720px;
        margin-left: 0;
        margin-right: 0
    }

    .u-section-1-1 .u-text-2 {
        margin-right: 225px;
        margin-left: 225px
    }

    .u-section-1-1 .u-group-1 {
        margin-left: 210px
    }

    .u-section-1-1 .u-text-3 {
        margin-left: 78px
    }
}

@media (max-width: 767px) {
    .u-section-1-1 .u-text-1 {
        width: 540px
    }

    .u-section-1-1 .u-text-2 {
        margin-right: 169px;
        margin-left: 169px
    }

    .u-section-1-1 .u-group-1 {
        margin-left: 30px
    }

    .u-section-1-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-1-1 .u-text-3 {
        margin-left: 149px
    }
}

@media (max-width: 575px) {
    .u-section-1-1 {
        min-height: 126px
    }

    .u-section-1-1 .u-sheet-1 {
        min-height: 280px
    }

    .u-section-1-1 .u-text-1 {
        width: 340px;
        font-size: 2.25
    }

    .u-section-1-1 .u-text-2 {
        margin-right: 106px;
        margin-left: 106px;
        font-size: 1.5
    }

    .u-section-1-1 .u-group-1 {
        width: 340px;
        margin-left: 0
    }

    .u-section-1-1 .u-text-3 {
        margin-left: 104px
    }
}

.u-section-1-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/1077356.jpg")
}

.u-section-1-2 .u-sheet-1 {
    min-height: 800px
}

.u-section-1-2 .u-layout-wrap-1 {
    margin: 179px auto 60px
}

.u-section-1-2 .u-layout-cell-1 {
    min-height: 400px
}

.u-section-1-2 .u-container-layout-1 {
    padding: 30px
}

.u-section-1-2 .u-image-1 {
    width: 300px;
    height: 300px;
    margin: 20px auto 0
}

.u-section-1-2 .u-line-1 {
    height: 423px;
    width: 3px;
    transform-origin: center top 0;
    margin: -341px 0 0 auto
}

.u-section-1-2 .u-layout-cell-2 {
    min-height: 400px
}

.u-section-1-2 .u-container-layout-2 {
    padding: 30px
}

.u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    animation-duration: 1000ms;
    margin: 20px 0 0
}

.u-section-1-2 .u-text-2 {
    font-size: 1.875rem;
    animation-duration: 1000ms;
    margin: 18px auto 0 20px
}

@media (max-width: 1199px) {
    .u-section-1-2 {
        background-position: 50% 50%
    }

    .u-section-1-2 .u-sheet-1 {
        min-height: 660px
    }

    .u-section-1-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-1-2 .u-layout-cell-1 {
        min-height: 330px
    }

    .u-section-1-2 .u-layout-cell-2 {
        min-height: 330px
    }

    .u-section-1-2 .u-text-2 {
        margin-left: 16px
    }
}

@media (max-width: 991px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 608px
    }

    .u-section-1-2 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-1-2 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-1-2 .u-text-2 {
        margin-left: 12px
    }
}

@media (max-width: 767px) {
    .u-section-1-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-1-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-1-2 .u-text-2 {
        margin-left: 20px
    }
}

@media (max-width: 575px) {
    .u-section-1-2 .u-sheet-1 {
        min-height: 326px
    }

    .u-section-1-2 .u-text-1 {
        font-size: 3
    }

    .u-section-1-2 .u-text-2 {
        font-size: 1.5;
        margin-left: 13px
    }
}

.u-section-1-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/874258.jpg")
}

.u-section-1-3 .u-sheet-1 {
    min-height: 800px
}

.u-section-1-3 .u-layout-wrap-1 {
    margin: 179px auto 60px
}

.u-section-1-3 .u-layout-cell-1 {
    min-height: 400px
}

.u-section-1-3 .u-container-layout-1 {
    padding: 30px
}

.u-section-1-3 .u-image-1 {
    width: 300px;
    height: 300px;
    margin: 20px auto 0
}

.u-section-1-3 .u-line-1 {
    height: 423px;
    width: 3px;
    transform-origin: center top 0;
    margin: -341px 0 0 auto
}

.u-section-1-3 .u-layout-cell-2 {
    min-height: 400px
}

.u-section-1-3 .u-container-layout-2 {
    padding: 30px
}

.u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    animation-duration: 1000ms;
    margin: 20px 0 0
}

.u-section-1-3 .u-text-2 {
    font-size: 1.875rem;
    animation-duration: 1000ms;
    margin: 18px auto 0 20px
}

@media (max-width: 1199px) {
    .u-section-1-3 {
        background-position: 50% 50%
    }

    .u-section-1-3 .u-sheet-1 {
        min-height: 660px
    }

    .u-section-1-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-1-3 .u-layout-cell-1 {
        min-height: 330px
    }

    .u-section-1-3 .u-layout-cell-2 {
        min-height: 330px
    }

    .u-section-1-3 .u-text-2 {
        margin-left: 16px
    }
}

@media (max-width: 991px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 608px
    }

    .u-section-1-3 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-1-3 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-1-3 .u-text-2 {
        margin-left: 12px
    }
}

@media (max-width: 767px) {
    .u-section-1-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-1-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-1-3 .u-text-2 {
        margin-left: 20px
    }
}

@media (max-width: 575px) {
    .u-section-1-3 .u-sheet-1 {
        min-height: 326px
    }

    .u-section-1-3 .u-text-1 {
        font-size: 3
    }

    .u-section-1-3 .u-text-2 {
        font-size: 1.5;
        margin-left: 13px
    }
}

.u-section-2 {
    background-image: linear-gradient(#403636, #425465)
}

.u-section-2 .u-sheet-1 {
    min-height: 94px
}

.u-section-2 .u-text-1 {
    animation-duration: 1000ms;
    width: 700px;
    text-transform: uppercase;
    font-family: Arbutus;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 44px;
    margin: 28px auto
}

@media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
        height: 39px;
        line-height: 40px
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-text-1 {
        width: 540px
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-text-1 {
        width: 340px;
        font-size: 1.5
    }
}

.u-section-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/2178575.jpg")
}

.u-section-3 .u-sheet-1 {
    min-height: 744px
}

.u-section-3 .u-text-1 {
    margin: 30px auto 0
}

.u-section-3 .u-layout-wrap-1 {
    margin: 30px auto 0 0
}

.u-section-3 .u-layout-cell-1 {
    min-height: 302px
}

.u-section-3 .u-container-layout-1 {
    padding: 20px 30px
}

.u-section-3 .u-text-2 {
    margin: 22px 45px 0 auto
}

.u-section-3 .u-text-3 {
    margin: -27px auto 0
}

.u-section-3 .u-text-4 {
    margin: 14px auto 0
}

.u-section-3 .u-btn-1 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-cell-2 {
    min-height: 302px
}

.u-section-3 .u-container-layout-2 {
    padding: 20px 30px
}

.u-section-3 .u-text-5 {
    margin: 22px 45px 0 auto
}

.u-section-3 .u-text-6 {
    margin: -27px auto 0
}

.u-section-3 .u-text-7 {
    margin: 15px auto 0
}

.u-section-3 .u-btn-2 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-cell-3 {
    min-height: 302px
}

.u-section-3 .u-container-layout-3 {
    padding: 20px 30px
}

.u-section-3 .u-text-8 {
    margin: 22px 45px 0 auto
}

.u-section-3 .u-text-9 {
    margin: -27px auto 0
}

.u-section-3 .u-text-10 {
    margin: 14px auto 0
}

.u-section-3 .u-btn-3 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-cell-4 {
    min-height: 302px
}

.u-section-3 .u-container-layout-4 {
    padding: 20px 30px
}

.u-section-3 .u-text-11 {
    margin: 22px 30px 0 auto
}

.u-section-3 .u-text-12 {
    margin: -27px auto 0
}

.u-section-3 .u-text-13 {
    margin: 14px auto 0 36px
}

.u-section-3 .u-btn-4 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-wrap-2 {
    margin: 25px auto 30px 0
}

.u-section-3 .u-layout-cell-5 {
    min-height: 302px
}

.u-section-3 .u-container-layout-5 {
    padding: 30px
}

.u-section-3 .u-text-14 {
    margin: 22px 30px 0 auto
}

.u-section-3 .u-text-15 {
    margin: -27px auto 0
}

.u-section-3 .u-text-16 {
    margin: 14px auto 0 29px
}

.u-section-3 .u-btn-5 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-cell-6 {
    min-height: 302px
}

.u-section-3 .u-container-layout-6 {
    padding: 30px
}

.u-section-3 .u-text-17 {
    margin: 22px 30px 0 auto
}

.u-section-3 .u-text-18 {
    margin: -27px auto 0
}

.u-section-3 .u-text-19 {
    margin: 14px auto 0
}

.u-section-3 .u-btn-6 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-3 .u-layout-cell-7 {
    min-height: 302px
}

.u-section-3 .u-container-layout-7 {
    padding: 30px
}

.u-section-3 .u-text-20 {
    margin: 22px 23px 0 auto
}

.u-section-3 .u-text-21 {
    margin: -27px auto 0
}

.u-section-3 .u-text-22 {
    margin: 18px 26px 0 auto
}

.u-section-3 .u-btn-7 {
    background-image: none;
    border-style: none;
    margin: 34px auto 0 32px
}

.u-section-3 .u-layout-cell-8 {
    min-height: 302px
}

.u-section-3 .u-container-layout-8 {
    padding: 30px
}

.u-section-3 .u-text-23 {
    margin: 22px 18px 0 auto
}

.u-section-3 .u-text-24 {
    margin: -27px auto 0 40px
}

.u-section-3 .u-text-25 {
    margin: 14px auto 0
}

.u-section-3 .u-btn-8 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

@media (max-width: 1199px) {
    .u-section-3 {
        background-position: 50% 50%;
        min-height: 165px
    }

    .u-section-3 .u-sheet-1 {
        min-height: 446px
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 249px
    }

    .u-section-3 .u-text-2 {
        margin-right: 34px
    }

    .u-section-3 .u-btn-1 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 249px
    }

    .u-section-3 .u-text-5 {
        margin-right: 34px
    }

    .u-section-3 .u-btn-2 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 249px
    }

    .u-section-3 .u-text-8 {
        margin-right: 34px
    }

    .u-section-3 .u-btn-3 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 249px
    }

    .u-section-3 .u-text-11 {
        margin-right: 34px
    }

    .u-section-3 .u-text-13 {
        margin-left: 27px
    }

    .u-section-3 .u-btn-4 {
        margin-left: 0
    }

    .u-section-3 .u-layout-wrap-2 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-3 .u-layout-cell-5 {
        min-height: 249px
    }

    .u-section-3 .u-text-14 {
        margin-right: 34px
    }

    .u-section-3 .u-text-16 {
        margin-left: 22px
    }

    .u-section-3 .u-btn-5 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-6 {
        min-height: 249px
    }

    .u-section-3 .u-text-17 {
        margin-right: 34px
    }

    .u-section-3 .u-btn-6 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-7 {
        min-height: 249px
    }

    .u-section-3 .u-text-20 {
        margin-right: 34px
    }

    .u-section-3 .u-text-22 {
        margin-right: 20px
    }

    .u-section-3 .u-btn-7 {
        margin-left: 0
    }

    .u-section-3 .u-layout-cell-8 {
        min-height: 249px
    }

    .u-section-3 .u-text-23 {
        margin-right: 34px
    }

    .u-section-3 .u-text-24 {
        margin-left: 30px
    }

    .u-section-3 .u-btn-8 {
        margin-left: 0
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 238px
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-3 .u-text-2 {
        margin-right: 62px
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-3 .u-text-5 {
        margin-right: 62px
    }

    .u-section-3 .u-layout-cell-3 {
        min-height: 100px
    }

    .u-section-3 .u-text-8 {
        margin-right: 62px
    }

    .u-section-3 .u-layout-cell-4 {
        min-height: 100px
    }

    .u-section-3 .u-text-11 {
        margin-right: 62px
    }

    .u-section-3 .u-text-13 {
        margin-left: 18px
    }

    .u-section-3 .u-layout-cell-5 {
        min-height: 100px
    }

    .u-section-3 .u-text-14 {
        margin-right: 62px
    }

    .u-section-3 .u-text-16 {
        margin-left: 14px
    }

    .u-section-3 .u-layout-cell-6 {
        min-height: 100px
    }

    .u-section-3 .u-text-17 {
        margin-right: 62px
    }

    .u-section-3 .u-layout-cell-7 {
        min-height: 100px
    }

    .u-section-3 .u-text-20 {
        margin-right: 62px
    }

    .u-section-3 .u-text-22 {
        margin-right: 13px
    }

    .u-section-3 .u-layout-cell-8 {
        min-height: 100px
    }

    .u-section-3 .u-text-23 {
        margin-right: 62px
    }

    .u-section-3 .u-text-24 {
        margin-left: 20px
    }
}

@media (max-width: 767px) {
    .u-section-3 {
        min-height: 365px
    }

    .u-section-3 .u-sheet-1 {
        min-height: 438px
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-2 {
        margin-right: 111px
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-5 {
        margin-right: 111px
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-8 {
        margin-right: 111px
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-11 {
        margin-right: 111px
    }

    .u-section-3 .u-text-13 {
        margin-left: 88px
    }

    .u-section-3 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-14 {
        margin-right: 111px
    }

    .u-section-3 .u-text-16 {
        margin-left: 71px
    }

    .u-section-3 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-17 {
        margin-right: 111px
    }

    .u-section-3 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-20 {
        margin-right: 111px
    }

    .u-section-3 .u-text-22 {
        margin-right: 64px
    }

    .u-section-3 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-3 .u-text-23 {
        margin-right: 111px
    }

    .u-section-3 .u-text-24 {
        margin-left: 99px
    }
}

@media (max-width: 575px) {
    .u-section-3 {
        min-height: 100px
    }

    .u-section-3 .u-sheet-1 {
        min-height: 173px
    }

    .u-section-3 .u-text-2 {
        margin-right: 69px
    }

    .u-section-3 .u-text-5 {
        margin-right: 69px
    }

    .u-section-3 .u-text-8 {
        margin-right: 69px
    }

    .u-section-3 .u-text-11 {
        margin-right: 69px
    }

    .u-section-3 .u-text-13 {
        margin-left: 54px
    }

    .u-section-3 .u-text-14 {
        margin-right: 69px
    }

    .u-section-3 .u-text-16 {
        margin-left: 43px
    }

    .u-section-3 .u-text-17 {
        margin-right: 69px
    }

    .u-section-3 .u-text-20 {
        margin-right: 69px
    }

    .u-section-3 .u-text-22 {
        margin-right: 40px
    }

    .u-section-3 .u-text-23 {
        margin-right: 69px
    }

    .u-section-3 .u-text-24 {
        margin-left: 61px
    }
}

.u-section-4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/874250.jpg")
}

.u-section-4 .u-sheet-1 {
    min-height: 754px
}

.u-section-4 .u-text-1 {
    margin: 30px auto 0
}

.u-section-4 .u-layout-wrap-1 {
    margin: 30px auto 0 0
}

.u-section-4 .u-layout-cell-1 {
    min-height: 302px
}

.u-section-4 .u-container-layout-1 {
    padding: 20px 30px
}

.u-section-4 .u-text-2 {
    margin: 22px 45px 0 auto
}

.u-section-4 .u-text-3 {
    margin: -27px auto 0
}

.u-section-4 .u-text-4 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-1 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-2 {
    min-height: 302px
}

.u-section-4 .u-container-layout-2 {
    padding: 20px 30px
}

.u-section-4 .u-text-5 {
    margin: 22px 45px 0 auto
}

.u-section-4 .u-text-6 {
    margin: -27px auto 0
}

.u-section-4 .u-text-7 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-2 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-3 {
    min-height: 302px
}

.u-section-4 .u-container-layout-3 {
    padding: 20px 30px
}

.u-section-4 .u-text-8 {
    margin: 22px 45px 0 auto
}

.u-section-4 .u-text-9 {
    margin: -27px auto 0
}

.u-section-4 .u-text-10 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-3 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-4 {
    min-height: 302px
}

.u-section-4 .u-container-layout-4 {
    padding: 20px 30px
}

.u-section-4 .u-text-11 {
    margin: 22px 30px 0 auto
}

.u-section-4 .u-text-12 {
    margin: -27px auto 0
}

.u-section-4 .u-text-13 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-4 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-wrap-2 {
    margin: 25px auto 40px 0
}

.u-section-4 .u-layout-cell-5 {
    min-height: 302px
}

.u-section-4 .u-container-layout-5 {
    padding: 30px
}

.u-section-4 .u-text-14 {
    margin: 22px 30px 0 auto
}

.u-section-4 .u-text-15 {
    margin: -27px auto 0
}

.u-section-4 .u-text-16 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-5 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-6 {
    min-height: 302px
}

.u-section-4 .u-container-layout-6 {
    padding: 30px
}

.u-section-4 .u-text-17 {
    margin: 22px 30px 0 auto
}

.u-section-4 .u-text-18 {
    margin: -27px auto 0
}

.u-section-4 .u-text-19 {
    margin: 14px auto 0 54px
}

.u-section-4 .u-btn-6 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-7 {
    min-height: 302px
}

.u-section-4 .u-container-layout-7 {
    padding: 30px
}

.u-section-4 .u-text-20 {
    margin: 22px 23px 0 auto
}

.u-section-4 .u-text-21 {
    margin: -27px auto 0
}

.u-section-4 .u-text-22 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-7 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

.u-section-4 .u-layout-cell-8 {
    min-height: 302px
}

.u-section-4 .u-container-layout-8 {
    padding: 30px
}

.u-section-4 .u-text-23 {
    margin: 22px 18px 0 auto
}

.u-section-4 .u-text-24 {
    margin: -27px auto 0
}

.u-section-4 .u-text-25 {
    margin: 14px auto 0
}

.u-section-4 .u-btn-8 {
    background-image: none;
    border-style: none;
    margin: 38px auto 0 32px
}

@media (max-width: 1199px) {
    .u-section-4 {
        background-position: 50% 50%;
        min-height: 165px
    }

    .u-section-4 .u-sheet-1 {
        min-height: 446px
    }

    .u-section-4 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-4 .u-layout-cell-1 {
        min-height: 249px
    }

    .u-section-4 .u-text-2 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-1 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 249px
    }

    .u-section-4 .u-text-5 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-2 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 249px
    }

    .u-section-4 .u-text-8 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-3 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 249px
    }

    .u-section-4 .u-text-11 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-4 {
        margin-left: 0
    }

    .u-section-4 .u-layout-wrap-2 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 249px
    }

    .u-section-4 .u-text-14 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-5 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-6 {
        min-height: 249px
    }

    .u-section-4 .u-text-17 {
        margin-right: 34px
    }

    .u-section-4 .u-text-19 {
        margin-left: 41px
    }

    .u-section-4 .u-btn-6 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-7 {
        min-height: 249px
    }

    .u-section-4 .u-text-20 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-7 {
        margin-left: 0
    }

    .u-section-4 .u-layout-cell-8 {
        min-height: 249px
    }

    .u-section-4 .u-text-23 {
        margin-right: 34px
    }

    .u-section-4 .u-btn-8 {
        margin-left: 0
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 238px
    }

    .u-section-4 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-4 .u-text-2 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-4 .u-text-5 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-3 {
        min-height: 100px
    }

    .u-section-4 .u-text-8 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-4 {
        min-height: 100px
    }

    .u-section-4 .u-text-11 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-5 {
        min-height: 100px
    }

    .u-section-4 .u-text-14 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-6 {
        min-height: 100px
    }

    .u-section-4 .u-text-17 {
        margin-right: 62px
    }

    .u-section-4 .u-text-19 {
        margin-left: 27px
    }

    .u-section-4 .u-layout-cell-7 {
        min-height: 100px
    }

    .u-section-4 .u-text-20 {
        margin-right: 62px
    }

    .u-section-4 .u-layout-cell-8 {
        min-height: 100px
    }

    .u-section-4 .u-text-23 {
        margin-right: 62px
    }
}

@media (max-width: 767px) {
    .u-section-4 {
        min-height: 365px
    }

    .u-section-4 .u-sheet-1 {
        min-height: 438px
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-2 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-5 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-8 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-11 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-14 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-17 {
        margin-right: 111px
    }

    .u-section-4 .u-text-19 {
        margin-left: 132px
    }

    .u-section-4 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-20 {
        margin-right: 111px
    }

    .u-section-4 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-4 .u-text-23 {
        margin-right: 111px
    }
}

@media (max-width: 575px) {
    .u-section-4 {
        min-height: 100px
    }

    .u-section-4 .u-sheet-1 {
        min-height: 173px
    }

    .u-section-4 .u-text-2 {
        margin-right: 69px
    }

    .u-section-4 .u-text-5 {
        margin-right: 69px
    }

    .u-section-4 .u-text-8 {
        margin-right: 69px
    }

    .u-section-4 .u-text-11 {
        margin-right: 69px
    }

    .u-section-4 .u-text-14 {
        margin-right: 69px
    }

    .u-section-4 .u-text-17 {
        margin-right: 69px
    }

    .u-section-4 .u-text-19 {
        margin-left: 82px
    }

    .u-section-4 .u-text-20 {
        margin-right: 69px
    }

    .u-section-4 .u-text-23 {
        margin-right: 69px
    }
}

.u-section-5 {
    background-image: none
}

.u-section-5 .u-sheet-1 {
    min-height: 241px
}

.u-section-5 .u-layout-wrap-1 {
    margin: 1px auto 1px 0
}

.u-section-5 .u-layout-cell-1 {
    min-height: 270px
}

.u-section-5 .u-container-layout-1 {
    padding: 30px
}

.u-section-5 .u-icon-1 {
    height: 69px;
    width: 69px;
    background-image: none;
    margin: 0 auto
}

.u-section-5 .u-text-1 {
    font-weight: 700;
    font-size: 3rem;
    width: 203px;
    margin: 17px -1px 0 0
}

.u-section-5 .u-text-2 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 13px 0 0
}

.u-section-5 .u-layout-cell-2 {
    min-height: 270px
}

.u-section-5 .u-container-layout-2 {
    padding: 30px
}

.u-section-5 .u-icon-2 {
    height: 69px;
    width: 69px;
    background-image: none;
    margin: 0 auto
}

.u-section-5 .u-text-3 {
    font-weight: 700;
    font-size: 3rem;
    margin: 17px 0 0
}

.u-section-5 .u-text-4 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 13px 0 0
}

.u-section-5 .u-layout-cell-3 {
    min-height: 270px
}

.u-section-5 .u-container-layout-3 {
    padding: 30px
}

.u-section-5 .u-icon-3 {
    height: 69px;
    width: 69px;
    background-image: none;
    margin: 0 auto
}

.u-section-5 .u-text-5 {
    font-weight: 700;
    font-size: 3rem;
    margin: 21px -3px 0 3px
}

.u-section-5 .u-text-6 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: none;
    margin: 17px 0 0
}

.u-section-5 .u-layout-cell-4 {
    min-height: 270px
}

.u-section-5 .u-container-layout-4 {
    padding: 30px
}

.u-section-5 .u-icon-4 {
    height: 68px;
    width: 68px;
    background-image: none;
    margin: 0 auto
}

.u-section-5 .u-text-7 {
    font-weight: 700;
    font-size: 3rem;
    margin: 17px 0 0
}

.u-section-5 .u-text-8 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: none;
    margin: 13px 0 0
}

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 44px
    }

    .u-section-5 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 223px
    }

    .u-section-5 .u-text-1 {
        width: 153px;
        margin-right: 0
    }

    .u-section-5 .u-text-2 {
        text-transform: none
    }

    .u-section-5 .u-layout-cell-2 {
        min-height: 223px
    }

    .u-section-5 .u-text-4 {
        text-transform: none
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 223px
    }

    .u-section-5 .u-text-5 {
        margin-left: 0;
        margin-right: 0
    }

    .u-section-5 .u-layout-cell-4 {
        min-height: 223px
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-5 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-5 .u-layout-cell-3 {
        min-height: 100px
    }

    .u-section-5 .u-layout-cell-4 {
        min-height: 100px
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 144px
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-5 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-1 {
        font-size: 1.5
    }
}

.u-section-6 .u-sheet-1 {
    min-height: 683px
}

.u-section-6 .u-text-1 {
    width: 400px;
    margin: 30px auto 0
}

.u-section-6 .u-layout-wrap-1 {
    margin: 73px auto 0 0
}

.u-section-6 .u-layout-cell-1 {
    min-height: 547px
}

.u-section-6 .u-container-layout-1 {
    padding: 30px
}

.u-section-6 .u-image-1 {
    width: 240px;
    height: 240px;
    background-image: url("images/ravatar-1.png");
    background-position: 50% 50%;
    margin: 0 auto
}

.u-section-6 .u-text-2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 20px 0 0
}

.u-section-6 .u-text-3 {
    font-weight: 700;
    margin: 12px auto 0
}

.u-section-6 .u-text-4 {
    font-style: italic;
    margin: 23px 0 0
}

.u-section-6 .u-social-icons-1 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 136px;
    min-width: 94px;
    margin: 20px auto -11px
}

.u-section-6 .u-icon-1 {
    height: 100%
}

.u-section-6 .u-icon-2 {
    height: 100%
}

.u-section-6 .u-icon-3 {
    height: 100%
}

.u-section-6 .u-icon-4 {
    height: 100%
}

.u-section-6 .u-layout-cell-2 {
    min-height: 547px
}

.u-section-6 .u-container-layout-2 {
    padding: 30px
}

.u-section-6 .u-image-2 {
    width: 240px;
    height: 240px;
    background-image: url("images/avatar-7.png");
    background-position: 50% 50%;
    margin: 0 auto
}

.u-section-6 .u-text-5 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 20px 0 0
}

.u-section-6 .u-text-6 {
    font-weight: 700;
    margin: 12px auto 0
}

.u-section-6 .u-text-7 {
    font-style: italic;
    margin: 23px 0 0
}

.u-section-6 .u-social-icons-2 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 136px;
    min-width: 94px;
    margin: 20px auto -11px
}

.u-section-6 .u-icon-5 {
    height: 100%
}

.u-section-6 .u-icon-6 {
    height: 100%
}

.u-section-6 .u-icon-7 {
    height: 100%
}

.u-section-6 .u-icon-8 {
    height: 100%
}

.u-section-6 .u-layout-cell-3 {
    min-height: 547px
}

.u-section-6 .u-container-layout-3 {
    padding: 30px
}

.u-section-6 .u-image-3 {
    width: 240px;
    height: 240px;
    background-image: url("images/avatar-5.png");
    background-position: 50% 50%;
    margin: 0 auto
}

.u-section-6 .u-text-8 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 20px 0 0
}

.u-section-6 .u-text-9 {
    font-weight: 700;
    margin: 12px auto 0
}

.u-section-6 .u-text-10 {
    font-style: italic;
    margin: 23px 0 0
}

.u-section-6 .u-social-icons-3 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 136px;
    min-width: 94px;
    margin: 20px auto -11px
}

.u-section-6 .u-icon-9 {
    height: 100%
}

.u-section-6 .u-icon-10 {
    height: 100%
}

.u-section-6 .u-icon-11 {
    height: 100%
}

.u-section-6 .u-icon-12 {
    height: 100%
}

@media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
        min-height: 671px
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 451px
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 451px
    }

    .u-section-6 .u-layout-cell-3 {
        min-height: 451px
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
        min-height: 320px
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-6 .u-image-1 {
        width: 180px;
        height: 180px
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-6 .u-image-2 {
        width: 180px;
        height: 180px
    }

    .u-section-6 .u-layout-cell-3 {
        min-height: 100px
    }

    .u-section-6 .u-image-3 {
        width: 180px;
        height: 180px
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 420px
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-6 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .u-section-6 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-text-1 {
        width: 340px
    }

    .u-section-6 .u-text-2 {
        font-size: 1.5
    }

    .u-section-6 .u-text-5 {
        font-size: 1.5
    }

    .u-section-6 .u-text-8 {
        font-size: 1.5
    }
}

.u-section-7 .u-sheet-1 {
    min-height: 286px
}

.u-section-7 .u-text-1 {
    font-size: 3rem;
    width: 680px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    margin: 40px auto 0
}

.u-section-7 .u-line-1 {
    width: 912px;
    height: 3px;
    border-style: dotted;
    margin: 15px auto
}

.u-section-7 .u-layout-wrap-1 {
    width: 1140px;
    margin: 0 0 35px
}

.u-section-7 .u-layout-cell-1 {
    min-height: 150px
}

.u-section-7 .u-container-layout-1 {
    padding: 20px 10px
}

.u-section-7 .u-image-1 {
    height: 80px;
    width: 164px;
    margin: 0 auto
}

.u-section-7 .u-layout-cell-2 {
    min-height: 150px
}

.u-section-7 .u-container-layout-2 {
    padding: 20px 10px
}

.u-section-7 .u-image-2 {
    height: 80px;
    width: 164px;
    margin: 0 auto
}

.u-section-7 .u-layout-cell-3 {
    min-height: 150px
}

.u-section-7 .u-container-layout-3 {
    padding: 20px 10px
}

.u-section-7 .u-image-3 {
    height: 80px;
    width: 164px;
    margin: 0 auto
}

.u-section-7 .u-layout-cell-4 {
    min-height: 150px
}

.u-section-7 .u-container-layout-4 {
    padding: 20px 10px
}

.u-section-7 .u-image-4 {
    height: 80px;
    width: 164px;
    margin: 0 auto
}

.u-section-7 .u-layout-cell-5 {
    min-height: 150px
}

.u-section-7 .u-container-layout-5 {
    padding: 20px 10px
}

.u-section-7 .u-image-5 {
    height: 80px;
    width: 164px;
    margin: 0 auto
}

@media (max-width: 1199px) {
    .u-section-7 .u-layout-wrap-1 {
        width: 940px
    }

    .u-section-7 .u-layout-cell-1 {
        min-height: 124px
    }

    .u-section-7 .u-image-1 {
        height: 74px;
        width: 144px
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 124px
    }

    .u-section-7 .u-image-2 {
        height: 74px;
        width: 144px
    }

    .u-section-7 .u-layout-cell-3 {
        min-height: 124px
    }

    .u-section-7 .u-image-3 {
        height: 74px;
        width: 144px
    }

    .u-section-7 .u-layout-cell-4 {
        min-height: 124px
    }

    .u-section-7 .u-image-4 {
        height: 74px;
        width: 144px
    }

    .u-section-7 .u-layout-cell-5 {
        min-height: 124px
    }

    .u-section-7 .u-image-5 {
        height: 74px;
        width: 144px
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
        min-height: 465px
    }

    .u-section-7 .u-line-1 {
        width: 720px
    }

    .u-section-7 .u-layout-wrap-1 {
        width: 720px
    }

    .u-section-7 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-7 .u-layout-cell-3 {
        min-height: 100px
    }

    .u-section-7 .u-layout-cell-4 {
        min-height: 100px
    }

    .u-section-7 .u-layout-cell-5 {
        min-height: 100px
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
        min-height: 565px
    }

    .u-section-7 .u-text-1 {
        width: 540px
    }

    .u-section-7 .u-line-1 {
        width: 540px
    }

    .u-section-7 .u-layout-wrap-1 {
        width: 540px
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-text-1 {
        width: 340px;
        font-size: 3
    }

    .u-section-7 .u-line-1 {
        width: 340px
    }

    .u-section-7 .u-layout-wrap-1 {
        width: 340px
    }
}

.u-section-8 {
    background-image: none;
    min-height: 663px
}

.u-section-8 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 570px);
    right: auto;
    margin-bottom: 0
}

.u-section-8 .u-layout-wrap-1 {
    width: 1140px;
    margin: 60px auto
}

.u-section-8 .u-layout-cell-1 {
    min-height: 515px
}

.u-section-8 .u-container-layout-1 {
    padding: 30px
}

.u-section-8 .u-text-1 {
    font-size: 3.75rem;
    margin: 0
}

.u-section-8 .u-line-1 {
    width: 43px;
    position: relative;
    transform-origin: left center 0;
    margin: 30px auto 0 0
}

.u-section-8 .u-form-1 {
    margin: 30px auto 0 0
}

.u-section-8 .u-btn-1 {
    border-style: none;
    background-image: none
}

.u-section-8 .u-layout-cell-2 {
    min-height: 515px
}

.u-section-8 .u-container-layout-2 {
    padding: 30px
}

.u-section-8 .u-text-2 {
    text-transform: uppercase;
    margin: 0
}

.u-section-8 .u-text-3 {
    font-style: italic;
    margin: 18px 2px 0 0
}

.u-section-8 .u-text-4 {
    text-transform: uppercase;
    margin: 31px 0 0
}

.u-section-8 .u-text-5 {
    font-style: italic;
    margin: 18px 2px 0 0
}

.u-section-8 .u-text-6 {
    text-transform: uppercase;
    margin: 20px 0 0
}

.u-section-8 .u-text-7 {
    font-style: italic;
    margin: 18px 2px 0 0
}

.u-section-8 .u-layout-cell-3 {
    min-height: 515px
}

.u-section-8 .u-container-layout-3 {
    padding: 30px
}

@media (max-width: 1199px) {
    .u-section-8 {
        min-height: 573px
    }

    .u-section-8 .u-shape-1 {
        width: calc(((100% - 940px) / 2) + 470px);
        left: 0;
        margin-bottom: initial
    }

    .u-section-8 .u-layout-wrap-1 {
        width: 940px
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 425px
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 504px
    }

    .u-section-8 .u-text-3 {
        margin-right: 0
    }

    .u-section-8 .u-text-5 {
        margin-right: 0
    }

    .u-section-8 .u-text-7 {
        margin-right: 0
    }

    .u-section-8 .u-layout-cell-3 {
        min-height: 361px
    }
}

@media (max-width: 991px) {
    .u-section-8 {
        min-height: 474px
    }

    .u-section-8 .u-shape-1 {
        width: calc(((100% - 720px) / 2) + 360px);
        margin-bottom: initial
    }

    .u-section-8 .u-layout-wrap-1 {
        width: 720px
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 100px
    }

    .u-section-8 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px
    }

    .u-section-8 .u-text-1 {
        font-size: 3rem
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 100px
    }

    .u-section-8 .u-layout-cell-3 {
        min-height: 976px
    }
}

@media (max-width: 767px) {
    .u-section-8 {
        min-height: 1701px
    }

    .u-section-8 .u-shape-1 {
        height: 754px;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto
    }

    .u-section-8 .u-layout-wrap-1 {
        width: 540px;
        margin-top: -694px
    }

    .u-section-8 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px
    }

    .u-section-8 .u-layout-cell-3 {
        min-height: 732px
    }

    .u-section-8 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 575px) {
    .u-section-8 .u-layout-wrap-1 {
        width: 340px
    }

    .u-section-8 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px
    }

    .u-section-8 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px
    }

    .u-section-8 .u-layout-cell-3 {
        min-height: 461px
    }
}